<nav>
    <div class="nav-wrapper red">
        <a href="" class="brand-logo center">BootCamp Shortcuts</a>
        <div id="userInfo" class="chip" data-id="{{{userId}}}" data-name="{{{userName}}}">{{{userName}}}</div>
        <div id="projectInfo" class="chip right" data-titleId="{{{titleId}}}" data-name="{{{projectName}}}">{{{projectName}}}</div>
    </div>
</nav>
<br>

<section class="container">
<div class="row">
  <div class="col s12">
    <ul class="collapsible popout">
      {{#each shortcuts}}
        <li class="shortcutItem">
          <div class="collapsible-header">
            <i class="material-icons">code</i>
            {{this.title}}
            <i data-shortcutId="{{this.id}}" class="xButton right close material-icons">close</i>
          </div>
          <div class="collapsible-body">
            <div class="section">
              <h5>Description:</h5>
              <p>{{this.shortDescription}}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5>Quick Start:</h5>
              <p>{{this.gettingStarted}}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5>Link:</h5>
              <p><a href="{{this.links}}">{{this.links}}</a></span></p>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

</section>
